/* Google fonts - Open Sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* Colors */
:root {
  --blue: rgba(79, 192, 210, 1);
  --green: rgba(82, 210, 154, 1);
  --orange: rgba(235, 118, 85, 1);
  --yellow: #ffd24a;
  --dark-bg: #4a4a4a;
  --text: #b8b7b7;
  --light-bg: #ffffff;
  --teal: #29babe;
}

/* Body */
body {
  background: var(--dark-bg);
  font-family: "Open Sans", sans-serif;
}

/* Main section */
/* wrapper */
.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto 100px auto;
  padding: 0;
  background: var(--dark-bg);
  color: var(--text);
  overflow: hidden;
  position: relative;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Main title */
.header {
  color: var(--light-bg);
  display: flex;
  justify-content: left;
  margin-top: 50px;
  font-weight: 300;
  cursor: pointer;
}

/* Divider */
hr {
  width: 100%;
}

.icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

/* Rows */
.row {
  padding: 20px 0;
  height: max-content;
  font-size: 0;
  position: relative;
  overflow: hidden;
  border-top: 1px solid darken(var(--dark-bg), 100%);
  background-color: #666;
  color: var(--light-bg);
}

.row:hover {
  background-color: var(--dark-bg);
}

.row ul {
  margin: 0;
  padding: 0;
}

.row ul li {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  list-style: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 10px;
}

/* Rows' divisions */
.row ul li#funds-name {
  width: 40%;
}

.row ul li#performance-1y {
  width: 20%;
}

.row ul li#performance {
  width: 10%;
}

/* Change colors depending on the performance */
.text-red {
  color: #ff4148;
}

.text-green {
  color: #6dff00;
}

/* More Contents */
ul.more-content li {
  position: relative;
  top: 10px;
  font-size: 16px;
  margin: 0;
  margin-left: 20px;
  padding: 10px 13px;
  display: flex;
  gap: 10px;
  height: max-content;
  width: 100%;
}

.label {
  font-weight: bold;
}

.document-link {
  color: var(--teal);
  text-decoration: underline;
}

/* Row titles */
.title {
  padding: 25px 0 5px 0;
  height: 45px;
  font-size: 0;
  background-color: var(--light-bg);
  border-left: 3px solid lighten(var(--light-bg), 100%);
}

.title:hover {
  height: 45px;
  background-color: var(--light-bg);
  border-left: 3px solid lighten(var(--light-bg), 100%);
}

.title ul li {
  font-size: 18px;
  padding: 15px 13px;
  color: var(--dark-bg);
}

.nfl:hover {
  border-left: 3px solid var(--teal);
}

/* Mobile */
@media screen and (max-width: 767px) {
  .wrapper {
    margin: 0;
  }

  .row ul li#performance-1y {
    display: none;
  }

  .row ul li.title-hide {
    display: none;
  }

  .row ul li#performance {
    width: 12%;
  }

  .row ul li#funds-name {
    width: 60%;
  }
}
