/* Search title */
.header {
  color: var(--light-bg);
  display: flex;
  justify-content: left;
  margin-top: 50px;
  font-weight: 300;
}

.search-box {
  position: relative;
  height: 55px;
  max-width: 1000px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.search-box i {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 30px;
  color: #707070;
}

.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .search-box {
    margin: 0;
  }
}
